@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  font-family: "Anton", sans-serif;
  
}

header {
  background-color: rgb(0, 0, 0, 0.9);
  
}

#marvel-logo {
  width: 300px;
  border: solid 1px;
  border-color: #ffffff;
  animation-name: animateappear;
  animation-duration: 2s;
}

.marvel-background:after {
  content: "";
  background: url("../images/marvel-background.jpg") no-repeat center center;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  /* This code credited to - https://stackoverflow.com/questions/23254346/how-can-i-change-background-image-opacity-without-changing-on-div-content*/
}

.card-game-title {
  background-color: #236bc4;
  color: #ffffff;
  font-size: 40px;
  font-stretch: ultra-expanded;
  border: solid 1px #ffffff;
  animation-name: animateappear;
  animation-duration: 2s;
  width: 300px;
}

/* Main menu - "Select a Game" */
#main-menu {
    width: 280px;
    height: 280px;
    background-color: #236bc4;
    color: white;
    border: solid 1px;
    border-color: white;
    opacity: 0.96;
    animation-name: animatetop;
    animation-duration: 1s;
}

.btn {
  font-size: 22px;
}

/* Difficulty select window */
.modal-content {
  position: absolute;
  width: 280px;
  height: 340px;
  background-color: rgb(7, 19, 34);
  color: white;
  border: solid 1px;
  border-color: white;
  z-index: 1;
  animation-name: animatetop;
  animation-duration: 1s;
}

/* The close button on the modal */
.close {
  color: white;
  float: left;
  opacity: 1;
  border: none;
  font-weight: 500;
  text-shadow: none;
  flex: none;
  font-size: 30px;

}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {     /* taken from w3schools */
  from {
    top: -400px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateappear {     /* taken from w3schools */
  from {
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.center-container {
  /* test for centering the modal and main menu - https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers*/
  position: relative;
  perspective: 500px;  /* 3d perspective, will tell us that the element is 500px away from the game container */
}

.absolute-center {
  /* test for centering the modal and main menu - https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers*/
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
  /* this is the exit button on the card-game page */
.exit-button {
  position: absolute;
  font-size: 22px;
  background-color: orange;
  color: black;
  border: solid 1px white;
  line-height: 1.1;
 
}

.exit-button:hover {
  color: white;
}


/* Card game page and contents */

.card-game-container {
    background-color: rgba(31, 8, 8, 0.98);
    border: solid 1px white;
    max-width: 600px;
    animation-name: animateappear;
    animation-duration: 2s;
}

.card-game-info {
    font-size: 30px;
    color: white;
}

.attempts {
    text-align: right;
}

.card {
    position: relative;
    height: 140px;
    min-width: 68px;
    padding-right: 0;
    padding-left: 0;
    background-color: transparent;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: solid 1px white;
    backface-visibility: hidden;
    transition: transform 500ms ease-in-out;
}

.card-front {
    background-color: white;
    border: solid 1px black;
    transform: rotateY(180deg);
}

.card-back {
    background-color: transparent;
    transform: rotateY(0);
    
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0); 
}

.card.matched .card-value {
    animation: dance 2s linear infinite 500ms; /* when there is a match of cards, both cards will "dance" for 2 seconds and infinitely, with a delay of 500ms as this is the time it takes for the card to rotate*/
}

.overlay-text {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    justify-content: center;
    align-items: center;
    z-index: 100;
    color: white;
}

.overlay-picture {
    width: 50vw;
    max-width: 500px;
}

.overlay-text-small {
    font-size: .7em;
}

.overlay-text.visible {
    display: flex;
    flex-direction: column;
    animation: overlay-grow 500ms forwards;
}

@keyframes  overlay-grow {
    from {
        background-color: black;
        font-size: 0;
    }
    to {
        background-color: rgb(0, 0, 0, 0.95);
        font-size: 80px;
    }
}

@keyframes dance {              /*Dancing movement*/
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-30deg);
    }
    75% {
        transform: rotate(30deg);
    }
}

.card-value {
    height: 80px;
    width: auto;
    transform: scale(1.1);
}

.question-mark {            /* This is the back of the card */
    height: 140px;
    width: 90px;
}


.card:hover {
    transform: rotate(-10deg);
    transition: transform 1s;
}

.card-front:hover .card-value {
    transform: scale(1);
    transition: transform 1s;
}

.card-back:hover .question-mark {
    transform: scale(1.1);
    transition: transform 1s;
}
