@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

body {
  font-family: "Anton", sans-serif;
}

header {
  background-color: rgb(0, 0, 0, 0.9);
  
}

#marvel-logo {
  width: 300px;
  border: solid 1px;
  border-color: #ffffff;
  animation-name: animateappear;
  animation-duration: 2s;
}

.marvel-background:after {
  content: "";
  background: url("../images/marvel-background.jpg") no-repeat center center;
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
  /* This code credited to - https://stackoverflow.com/questions/23254346/how-can-i-change-background-image-opacity-without-changing-on-div-content*/
}

.card-game-title {
  background-color: #236bc4;
  color: #ffffff;
  font-size: 40px;
  font-stretch: ultra-expanded;
  border: solid 1px #ffffff;
  animation-name: animateappear;
  animation-duration: 2s;
}

/* Main menu - "Select a Game" */
#main-menu {
    width: 280px;
    height: 280px;
    background-color: #236bc4;
    color: white;
    border: solid 1px;
    border-color: white;
    opacity: 0.96;
    animation-name: animatetop;
    animation-duration: 1s;
}

.btn {
  font-size: 22px;
}

/* Difficulty select window */
.modal-content {
  position: absolute;
  width: 280px;
  height: 340px;
  background-color: rgb(7, 19, 34);
  color: white;
  border: solid 1px;
  border-color: white;
  z-index: 1;
  animation-name: animatetop;
  animation-duration: 1s;
}

/* The close button on the modal */
.close {
  color: white;
  float: left;
  opacity: 1;
  border: none;
  font-weight: 500;
  text-shadow: none;
  flex: none;
  font-size: 30px;

}

.close:hover,
.close:focus {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {     /* taken from w3schools */
  from {
    top: -400px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animateappear {     /* taken from w3schools */
  from {
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.center-container {
  /* test for centering the modal and main menu - https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers*/
  position: relative;
}

.absolute-center {
  /* test for centering the modal and main menu - https://stackoverflow.com/questions/396145/how-to-vertically-center-a-div-for-all-browsers*/
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
  /* this is the exit button on the card-game page */
.exit-button {
  position: absolute;
  font-size: 22px;
  background-color: orange;
  color: black;
  border: solid 1px white;
  line-height: 1.1;
 
}

.exit-button:hover {
  color: white;
}

